* {
  /* box-sizing: border-box; */
}

:focus {
 /* TODO */
  
}

body {
  /* TODO */
  
  background: rgb(245,33,117);
background: linear-gradient(90deg, rgba(245,33,117,1) 0%, rgba(255,235,0,1) 48%, rgba(96,20,170,1) 87%);
}

input {
 /* TODO */
  opacity: 0.6;
  text-align: center;
  font-weight: 600;
}

.search-container {
 /* TODO */ 
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.search-container input,
.search-container .suggestions {
  /* TODO */
}
.search-container input {
 /* TODO */
}
.search-container .suggestions {
   /* TODO */
}

ul {
  /* TODO */
}
ul.has-suggestions {
  /* TODO */
}
ul li {
  /* TODO */
}
ul li:hover {
  /* TODO */
  transition: 500ms;
  opacity: 1;
}

input {
   /* TODO */
}